build-wgy*
Debug
x64
.vs
wgy.pro.user
node_modules
config.ini
config.json
/client/wgy/.qmake.stash
/client/wgy/bin/wgy.exe
/client/wgy/bin/wgy.ilk
/client/wgy/bin/wgy.pdb
/client/wgy/wgy.qtvscr
/client/wgy/wgy.sln
/client/wgy/wgy.vcxproj
/client/wgy/wgy.vcxproj.filters
/client/wgy/wgy.vcxproj.user
/client/wgy/wgy_resource.rc
/client/wgy/release/moc_predefs.h.cbt
/client/wgy/ui_adduseritem.h
/client/wgy/ui_applyfriend.h
/client/wgy/ui_chatdialog.h
/client/wgy/ui_chatuserwid.h
/client/wgy/ui_findsuccessdlg.h
/client/wgy/ui_friendlabel.h
/client/wgy/ui_loadingdlg.h
/client/wgy/ui_logindialog.h
/client/wgy/ui_mainwindow.h
/client/wgy/ui_registerdialog.h
/client/wgy/ui_resetdialog.h
ui_*.h
/server/VarifyServer/.idea/*.iml
/server/VarifyServer/.idea
/server/ChatServer/*.log
/client/wgy/wgy.pro.user.92bdd7d
